.rules_container {
  width: 50%;
  // border: 1px solid red;
  font-size: 1.6rem;
  background-color: #000000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  padding: 1%;
  margin-left: 20px;

  h1 {
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 15px;
  }

  p {
    color: #fff;
    font-size: 2rem;
  }

  li {
    text-justify: left;
    color: pink;
    padding: 5%;
    font-size: 2rem;
  }

  .glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
        0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
        0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  ul {
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;

    span {
      font-weight: bolder;
    }

    li {
      margin-bottom: 10px;
      list-style-type: circle;
    }
  }
}
